/* Authentication pages (Login, SignUp) */
.login-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
}

.login-box {
    background-color: white;
    padding: 3rem 1.75rem 1.75rem 1.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 1);
    position: relative;
}

.login-input {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #b4b4b4;
    color: black;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

.login-input::placeholder {
    color: rgb(80, 80, 80);
}

.login-input:focus {
    outline: none;
}

.signup-link {
    font-size: 1rem;
    color: #38b6ff;
    text-decoration: underline;
    align-self: center;
    cursor: pointer;
    margin-bottom: -0.5rem;
}

.signup-link:hover {
    opacity: 0.8;
}

.continue-button {
    border: none;
    background: linear-gradient(65deg, #6a1523, #ffc987);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    align-self: center;
    margin-top: 0.5rem;
    width: 50%;
}

.continue-button:hover {
    opacity: 0.9;
}