/* MyTeamCard Component */
.league-card-gear {
    width: 15px;
    height: 15px;
    fill: none;
    stroke: black;
    opacity: 0.5;
}

.league-card-gear:hover {
    opacity: 1;
    cursor: pointer;
}

.league-card-logo {
    width: 80px;
    height: 80px;
    fill: black;
    align-self: flex-start;
}

.league-card-team-name {
    display: flex;
    flex-direction: column;
}

.league-card-team-name div {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    line-height: 1.2;
}

.league-card-username {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
    margin-top: 0.5rem;
}

.league-card-roster-link {
    font-size: 0.9rem;
    color: #38b6ff;
    text-decoration: underline;
    cursor: pointer;
    margin-top: auto;
}

.league-card-roster-link:hover {
    opacity: 0.8;
}